<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTE\SQLEXPRESS2008;initial catalog=dbKawai;persist security info=True;user id=sa;password=adm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MERCURIO;initial catalog=kawaifilms3;persist security info=True;user id=sa;password=adm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.202.148.142;initial catalog=kawaifilms3;persist security info=True;user id=kawaifilms3;password=Kw41L70N@@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    
  </connectionStrings>

  
</configuration>