<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages enableEventValidation="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" path="/" defaultUrl="~/Logado.aspx" name="Acesso" timeout="20"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <siteMap defaultProvider="Login" enabled="true">
      <providers>
        <add name="Login" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Login.sitemap"/>
        <add name="Administrador" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Administrador.sitemap"/>
        <add name="Atendimento" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Atendimento.sitemap"/>
        <add name="Cliente" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Cliente.sitemap"/>
        <add name="Financeiro" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Financeiro.sitemap"/>
        <add name="Gerencia" type="System.Web.XmlSiteMapProvider" siteMapFile="sitemap/Gerencia.sitemap"/>
      </providers>
    </siteMap>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Sobre.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.202.148.142;initial catalog=kawaifilms3;persist security info=True;user id=kawaifilms3;password=Kw41L70N@@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MERCURIO;initial catalog=kawaifilms3;persist security info=True;user id=sa;password=adm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="dbKawaiBanco" connectionString="metadata=res://*/dbKawai.csdl|res://*/dbKawai.ssdl|res://*/dbKawai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTE\SQLEXPRESS2008;initial catalog=dbKawai;persist security info=True;user id=sa;password=adm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="tempoLogin" value="10"/>
  </appSettings>
</configuration>